* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    transition: all 0.3s ease;
    font-size: 2rem;
}

:root {
    --primary: #6750A4;
    --secondary: #625B71;
    --tertiary: #7D5260;
    --error: #B3261E;
    --neutral: #605D62;
}

html {
    font-size: 50%;
}

body {
    font-family: "FiraGO";
    font-feature-settings: "case";
    line-height: 1.5;
    background: #EEF5F9;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

button {
    font-family: "FiraGO";
}

a {
    text-decoration: none;
    color: #111111;
}

p {
    font-feature-settings: normal;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container-a {
    max-width: 1824px;
    width: 95%;
    margin: auto;
}

.container-b {
    max-width: 1824px;
    width: 84%;
    margin: auto;
}

/* Header */
@media screen and (min-width: 1400px) {
    header {
        height: 100vh;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 33px 0 45px 0;
}

.logo img {
    max-width: 183px;
    width: 100%;
    height: 47px;
}

.logo:hover {
    opacity: 0.8;
}

/* Sidebar */
main {
    position: static;
    top: 0;
    right: 96px;
    width: calc(100% - 96px);
    z-index: 2;
}

.sidebar {
    height: 100vh;
    width: 96px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(160, 160, 160, 0.2);
    padding-top: 50px;
    z-index: 99;
    overflow: hidden;
    transition: all 0.3s linear;
    transition: width 0.25s linear;
    padding-left: 38px;
    padding-right: 38px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar .sidebar-cats {
    margin-top: 49.5px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    width: 100%;
}

.sidebar ul li {
    overflow: hidden;
    height: 21px;
    transition: all 0.6s linear;
}

.sidebar ul li a {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.sidebar ul li a.active img,
.sidebar ul li a.active span {
    opacity: 1;
    color: #01375C;
}

.sidebar ul li a:hover img,
.sidebar ul li a:hover span {
    opacity: 1;
    color: #01375C;
}

.sidebar ul li a img {
    position: relative;
    opacity: 0.6;
}

.sidebar ul li a span {
    transform: translateX(80px);
    position: absolute;

    color: #67879D;
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
}

.sidebar:hover {
    width: 312px;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;

    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar:hover::-webkit-scrollbar {
    display: none;
}

.sidebar:hover ul li {
    height: auto;
}

.sidebar:hover .logo-mini {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.sidebar:hover .logo-main {
    transform: translateX(-20px);
    visibility: visible;
    opacity: 1;
}

.sidebar:hover .search-cont input {
    width: 264px;
    text-indent: 44px;
}

.sidebar:hover .search-cont button {
    left: 16.5px;
    top: 50%;
    transform: translate(0, -50%);
}

.sidebar:hover ul li a span {
    margin-left: 16px;
    position: unset;
    transform: translateX(0px);
}

.sidebar:hover .log-reg button {
    width: 116px;
    justify-content: space-evenly;
}

.sidebar:hover .log-reg button span,
.sidebar:hover .log-reg a,
.sidebar:hover .sidebar-menu-drp .drp {
    display: block;
}

.sidebar:hover .log-reg a {
    display: block;
}

.sidebar .sidebar-logo {
    height: 44px;
}

.sidebar .logo-mini {
    width: 24px;
    height: 24px;
    visibility: visible;
    opacity: 1;
}

.sidebar .logo-main {
    max-width: 172px;
    width: 100%;
    height: 44px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s linear;
    transform: translateX(-80px);
}

.sidebar .logo-main:hover {
    opacity: 0.8;
}

.sidebar .search {
    margin-top: 58px;
}

.sidebar .search-cont {
    position: relative;
}

.sidebar .search-cont input {
    width: 48px;
    height: 48px;
    background: rgba(2, 131, 219, 0.14);
    border-radius: 36px;
    text-align: left;
    text-indent: 88px;
    padding-right: 16px;
    border: none;
    outline: none;
}

.search .search-cont input:hover,
.search .search-cont input:focus {
    box-shadow: 0px 0px 10px #597dbc1a;
}

.sidebar .search-cont button {
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    background: initial;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar .sidebar-cats a li span {
    display: none;
}

.sidebar .log-reg {
    margin-top: 134.5px;
    margin-bottom: 20px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.sidebar .log-reg button {
    background: #0283DB;
    color: #FFFFFF;
    border-radius: 36px;
    outline: none;
    border: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: width 0.2s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .log-reg button:hover,
.sidebar .log-reg a:hover {
    opacity: 0.9;
}

.sidebar .log-reg button span {
    display: none;

    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 17px;
}

.sidebar .log-reg a {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #01375C;
    opacity: 1;

    display: none;
}

.sidebar-menu-drp a {
    width: auto !important;
    justify-content: space-between;
}

.sidebar-menu-drp span {
    flex: 1;
}

.sidebar-menu-drp .drp {
    display: none;
}

.sidebar-cats .sidebar-menu-drp .menu-cat-active span,
.sidebar-cats .sidebar-menu-drp .menu-cat-active img {
    opacity: 1;
    color: #01375C;
}

.sidebar-cats .sidebar-menu-drp .menu-cat-active .drp {
    transform: rotate(180deg);
}

.sidebar-menu-drp .sidebar-menu-drp-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 16.5px;
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.sidebar-menu-drp .sidebar-menu-drp-cat-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17.5px 0 0 36px;
    gap: 16.5px;
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}


/* Section Main */
.section-main .main-grid {
    height: 45vh;
    background-color: #D9D9D9;
    border-radius: 4px;
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading .heading {
    height: 81px;
    background: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 39px 0 24px 0;
}

.main-heading .heading h2 {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    color: #00365B;
}

.main-heading p {
    max-width: 506px;
    width: 100%;
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #00365B;
    opacity: 0.6;
}

.main-heading button {
    width: 68px;
    height: 68px;
    background: #0283DB;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    margin-top: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main-heading button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 200px;
    background: rgba(2, 131, 219, 0.19);
    transition: all 0.3s ease-in-out;
}

.main-heading button:hover::before {
    width: 85px;
    height: 85px;
    background: rgba(2, 131, 219, 0.25);
}

.main-heading button:active:before {
    width: 0;
    height: 0;
    background: rgba(2, 131, 219, 0.25);
    transition: all 0.1s ease;
}

/* Section Courses */
.section-courses {
    height: 100vh;
    background: #0283DB;
    margin-top: 110px;

    display: flex;
    justify-content: center;
    text-align: center;

    position: relative;
}

.section-courses .section-courses-dots {
    position: absolute;
    top: 67px;
    left: 0;
    z-index: 0;

    pointer-events: none;
}

.section-courses .section-courses-cont {
    margin: 72px 0 112px 0;
}

.section-courses .section-courses-cont h3 {
    font-family: 'Helvetica Neue LT GEO';
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
}

.section-courses .section-courses-cont p {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-top: 16px;
}

.swiper {
    margin-top: 48px;
}

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    height: 100%;
    min-height: 578px;
    max-width: 490px;
    width: 100%;
    border-radius: 8px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide .slide-head {
    border-radius: 8px 8px 0px 0px;
}

.swiper-slide .slide-head img {
    border-radius: 8px 8px 0px 0px;
}

.swiper-slide .slide-bottom-cont {
    padding: 24px 24px 0 24px;
}

.swiper-slide .slide-bottom {
    border-radius: 0px 0px 8px 8px;
    width: 100%;
}

.swiper-slide .tag {
    width: fit-content;
    height: 26px;
    border-radius: 4px;
    padding: 0 6px;
    display: inline-flex;
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    white-space: nowrap;
    align-items: center;
}

.swiper-slide .bs {
    background: #0283DB;
    color: #fff;
}

.swiper-slide .new {
    background: #F2C94C;
    color: #222;
}

.swiper-slide .slide-bottom-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.swiper-slide .slide-bottom-heading .heading {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.swiper-slide .slide-bottom-heading .heading h4 {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    color: #00365B;
}

.swiper-slide .slide-bottom-heading a,
.swiper-slide .slide-bottom-heading img {
    width: 18px;
    height: 18px;
    max-width: none;
}

.swiper-slide .slide-bottom-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding-top: 16px;
}

.swiper-slide .slide-bottom-mid span {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    color: #00365B;
}

.swiper-slide .slide-bottom hr {
    background: #E6E6E6;
    border-radius: 20px;
    height: 1px;
    opacity: 0.3;
    margin: 16px 0;
}

.swiper-slide .slide-bottom-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 24px 24px 24px;
}

.swiper-slide .slide-bottom-bottom .prof {
    display: flex;
    align-items: center;
    gap: 8px;
}

.swiper-slide .slide-bottom-bottom .prof span {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    color: #000000;
    opacity: 0.8;
}

.swiper-slide .slide-bottom-bottom .prof .underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.swiper-slide .slide-bottom-bottom h5 {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #00365B;
}